
.message{
    font-size: 15px;
    width: 100%;
    display: flex;
    margin-top: 25px;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    position: relative;
    color: black;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 26px;
}

